Configurable default "number" type bindings

Also, switch to Double and Long as default "number" type bindings, as per: [RFC7159 Section 6](https://www.rfc-editor.org/rfc/rfc7159#section-6).